@import '../../scss/_variables.scss';

header {
  display: flex;
  justify-content: space-between;
  height: 72px;
  width: 100%;

  nav {
    display: none;
  }

  @media only screen and (min-width: 1024px) {
    height: 80px;

    nav {
      display: block;
    }

    #hamburger-icon {
      display: none;
    }
  }

  .root {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .link {
    display: inline-flex;
    align-items: center;
    height: 100%;
    padding: 0 12px;
    color: $white-color;
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 4px solid transparent;

    &:hover,
    &:active,
    &:focus {
      border-bottom: 4px solid $primary-color;
      color: $primary-color;
    }

    @media screen and (min-width: 768px) {
      padding: 0 12px;
    }
  }

  #hamburger-icon {
    margin: auto 0;
    cursor: pointer;

    & div {
      width: 35px;
      height: 3px;
      background-color: $white-color;
      margin: 6px 0;
      transition: 0.4s;

      @media only screen and (max-width: 640px) {
        width: 30px;
        height: 2.8px;
      }
    }

    & .mobile-menu {
      display: none;
      position: absolute;
      top: 72px;
      left: 0;
      height: calc(100vh - 72px);
      width: 100%;
      background-color: $secondary;
    }

    .open {
      &.mobile-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
      }
    }

    .open .bar1 {
      -webkit-transform: rotate(-45deg) translate(-6px, 6px);
      transform: rotate(-45deg) translate(-6px, 6px);
    }

    .open .bar2 {
      opacity: 0;
    }

    .open .bar3 {
      -webkit-transform: rotate(-45deg) translate(-6px, -8px);
      transform: rotate(-45deg) translate(-6px, -8px);
    }
  }
}
