---
import styles from "./Navbar.module.scss";
---

<nav class:list={[styles.root, "bg-secondary"]}>
  <div class="flex align-center h-full">
    <a
      href="#"
      class:list={[
        styles.link,
        "focus:text-primary hover:text-primary active:text-primary",
      ]}>Naslovna</a
    >
    <a
      href="#"
      class:list={[
        styles.link,
        "focus:text-primary hover:text-primary active:text-primary",
      ]}>O nama</a
    >
    <a
      href="#"
      class:list={[
        styles.link,
        "focus:text-primary hover:text-primary active:text-primary",
      ]}>Izolacija</a
    >
    <a
      href="#"
      class:list={[
        styles.link,
        "focus:text-primary hover:text-primary active:text-primary",
      ]}>Kontakt</a
    >
  </div>
</nav>
